.Star {
  color:blueviolet;

}

.Answer {
  background-color: lightblue;
  margin:50px;
  padding:10px;
}

.fa-angle-double-right {
  padding:10px;
}
.redrawbutton {
  background-color: lightgrey;
  margin:45px;
  padding:10px;

}