
span {
    display: inline-block;
    color:brown;
    text-align: center;
    margin: 24px;
    border-radius: 20px;
    background-color: orange;
    padding:5px;

 }

 .NumberList {
    display: inline-block;
    color:red;
    text-align: center;
    margin: 24px;
    border-radius: 20px;
    background-color: orange;
    padding:40px ;
}

.selected {
  cursor: not-allowed;
  pointer-events: none;
  background-color: lightcoral;
}














